body {
	background: black;
	background-size: cover;
	color: white;
}

h1 {
	font-size: 1em;
	text-align: center;
	font-family: Georgia;
}

ul {
	list-style-type: none;
	display: inline;
}

canvas {
	width: 90%;
	margin-left: 5%;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	border-left: 1px dashed gray;
	border-right: 1px dashed gray;
}

.head {
	width: 100%;
	padding-bottom: .5%;
	text-align: center;
}

.title {
	list-style-type: none;
	padding-left: 0;
}

.title > li {
	display: inline;

}

.logo {
	width: 15px;
}

.prefix {
	font-style: italic;
	font-weight: 900;
}

.footer {
	width: 100%;
}

.footer-info > li:first-child > a {
	float: left;
	font-size: .9em;
	font-style: italic;
	color: white;
	text-decoration: none;
	margin-left: 5%;
	opacity: .6;
	transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.footer-info > li:first-child > a:hover {
	opacity: 1;
}

.footer-info > li:nth-child(2) {
	float: right;
	margin-right: 5%;
	font-size: .9em;
	opacity: .6;
}

#gameover {
	height: 100%;
	width: 100%;
	display: flex;
	position: fixed;
	align-items: center;
	justify-content: center;
}
